<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/homePage.css">

    <link rel="stylesheet" href="/fontawesome-free-5.15.4-web/css/all.min.css">
    <title>Bienvenido a Cash Admin!!</title>
</head>
<body>
    <div class="container"></div>
    <header class="header">
        <nav class="nav-bar " id="nav">
            <div class="logo">
                <h1>Cash <span>Admin </span></h1>
            </div>
            <ul>
                <li><a href="">Soluciones</a></li>
                <li><a href="">Planes</a></li>
                <li><a href="https://linktr.ee/cashadmin" target="_blank">Contactos</a></li>
                <li><i class="fas fa-bars" id="fas"></i></li>
            </ul>
            
            <div class="into">
                <button class="btn1" type="button"><a href="/soy-contador">Soy contador</a></button>
                <button class="btn2" type="button"><a href="/Ingresa" target="_blank">Ingresa</a></button>
                <button class="btn3" type="button"><a href="/login">Iniciar sesi칩n</a></button>
            </div>
        </nav>
    </header>
    <aside>
        <div class="sidebar">
            <ul class="ul1">
                <li class="li-1"><a href="#">Planes</a></li>
                <li><a href="https://linktr.ee/cashadmin" target="_blank">Contacto</a></li>
                <li><a href="#">Soluciones</a></li>
            </ul>
            <ul class="ul2">
                <li><a href="#">Facturaci칩n</a></li>
                <li><a href="#">Contabilidad</a></li>
                <li><a href="#">POS</a></li>
                <li><a href="#">Tienda</a></li>
                <li><a href="#">N칩mina</a></li>
                <li><a href="#">Alegra para Contadores</a></li>
            </ul> 
            <div class="log-container">
                <div class="log">
                    <i class="fas fa-user"></i><a href="/Ingresa">Ingresa</a>
                </div>
            </div>           
        </div>
    </aside>
    <main>
        <div class="content">
            <h1>Vive la Facturaci칩n Electr칩nica m치s r치pida con el 
                poder <span>de la Contabilidad Inteligente</span>
            </h1>
            <p>Con Cash admin vendes y automatizas tu contabilidad 
                mientras creas con un clic tus facturas hacia la DGII.
            </p>
            <button class="btn-gr"><a href="/Ingresa" class="text-white">Ingresa</a></button>
            <div class="bg"></div>
            <div class="atencion-cliente">
                <img src="../Fonts/atencion-cliente-removebg-preview.png" alt="">
                <div class="text">
                    <h4>쯅ecesitas ayuda antes de iniciar?</h4>
                    <p>Comun칤cate gratis con nuestro equipo especializado, te est치n esperando.</p>
                    <button>Contactar ahora</button>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="content-foot">
            <div class="logo-F">
                <h2>Cash <span>Admin </span></h2>
            </div>
            <div class="certification">
                <img src="../Fonts/certification.webp" alt="">
            </div>
            <div class="content-ul">
                <ul class="ulF1">
                    <li class="liDrop l1">Productos<i class="fas fa-caret-down" id="drop"></i></li> 
                        <ul class="Dl1">
                            <li><a href="">Nomina</a></li>
                            <li><a href="">Sistema para contadores</a></li>
                            <li><a href="">Sitema contable</a></li>
                            <li><a href="">Facturacion electronica</a></li>
                            <li><a href="">Tineda online</a></li>
                        </ul>
                    <li class="liDrop l2">Contenido educativo<i class="fas fa-caret-down" id="drop"></i></li>
                        <ul class="Dl2">
                            <li><a href="">Blog de inteligencia empresarial</a></li>
                            <li><a href="">Escuela de emprededores</a></li>
                            <li><a href="">Cerntro de ayudas</a></li>
                            <li><a href="">Academia</a></li>
                            <li><a href="">Comunidad</a></li>
                        </ul>
                    <li class="liDrop l3">Enlaces utiles<i class="fas fa-caret-down" id="drop"></i></li>
                        <ul class="Dl3">
                            <li><a href="https://linktr.ee/cashadmin" target="_blank">Contactanos</a></li>
                            <li><a href="">Estado de las soluciones</a></li>
                            <li><a href="">Partners</a></li>
                            <li><a href="">Trabaja con nosotros</a></li>
                            <li><a href="">Quienes somos</a></li>
                        </ul>
                </ul>
                <p>Al navegar en los sitios webs propiedad de Cash Admin, se acepta el uso de Cookies seg칰n nuestros <span>t칠rminos y condiciones</span></p>
            </div>
            <div class="social">
                <h3>춰Tus facturas electr칩nicas ayudan a sembrar 치rboles! 游꺕</h3>
                <div class="dr">
                    <p>COPYRIGHT 춸 2024 Cash Admin</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="../JS/homePage.js" type="module"></script>
</body>
</html>