<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitud Paysafe</title>
</head>
<body>
    <h1>Realizar pago</h1>
    <button id="realizar-pago">Realizar Pago</button>

    <script src="../request.js" type="module">
    </script>
</body>
</html>
